/* Padding, margin */
$mini: 8px;
$small: 15px;
$medium: 30px;
$large: 50px;
$xl: 100px;

/* Font */
$mini-font: .6em;
$small-font: .8em;
$medium-font: 1em;
$large-font: 1.25em;
$xl-font: 1.5em;
$x2-font: 2.25em;
$x3-font: 3em;
$x4-font: 4em;
$heading-font: 'Barlow Semi Condensed', sans-serif;
$body-font: 'Lusitana', serif;

/* Breakpoints */
$mobile: 768px;
$tablet: 1024px;

/* Colors */
$primary-color: #433734;
$secondary-color: #E5863b;
$accent-color: #Edb069;
$accent-color2: #8a86bb;
$accent-color3: #86bb55;
$accent-color4: #C96da4;
$panel-color: $secondary-color;
$button-color: $accent-color;

/* Border */
$border-radius: 6px;

/* Style */
$box-shadow: 0px 3px 10px -5px #bbb;

/* Mixins */
@mixin card-highlight-style {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: white;
}